* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
body{
    font-size: 1.2rem;
    overflow-x: hidden;
}
.navbar{
    font-weight: 400;
}
.navbar-brand{
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.hero img{
    width: 450px;
    height: 300px;
    margin-right: 10%;
    margin-top: 15%;
}

.bg-image{
    content: '';
    background-color: black;
    background: linear-gradient(110deg, #000000 1%, #000000 50%, #dcdbdb 90%);
    width: 100%;
    height: 100%; 
    background-repeat: no-repeat;
    z-index: -1;
    position: fixed;
    background-size: cover;
}

.hero h1, p{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 15%;
}

.hero ul li {
    color: red;
    margin-left: 15%;
}
.hero h1{
   margin-top: 15%;
   color: goldenrod;
}
.hero p{
    margin-top: 30px;
    width: 80%;
    text-indent: 0.5in;
}

.hero h1 p ul {
    margin-left: 50%;
}

/* table */
@media (max-width:991px) {
    .hero img {
        width: 60%;
        height: auto;
        justify-content: center;
        margin: auto;
    }
}

/* HP */
@media (max-width:576px) {
    .hero img {
        width: 60%;
        height: auto;
        margin: auto;
    }
}